/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	margin-bottom: 20px;
}
.Card{
	flex-basis: 16.66%;
}
	/* flip the pane when hovered */
	// .flip-container:hover .flipper {
	// 	transform: rotateY(180deg);
	// }
	.flipper-card {
		-webkit-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100px;
	height: 150px;
	border-radius: 7px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: width height .3s ease;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	border: 1px solid #aca16d;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.match-cards{
	opacity: 0;
	transition: all .3s ease;
}
@media (max-width: 750px) {
	.Card{
		flex-basis: 20.66%;
	}
	.level_classe3 .Card, .level_classi2 .Card{
		flex-basis: 16.66%;
	}
	.level_classe3 .flip-container, .level_classe3 .front, .level_classe3 .back{
		width: 70px;
		height: 120px;
	}
}
@media (max-width: 700px) and (max-height: 400px) and (orientation: landscape) {
	.level_classe3 .flip-container, .level_classe3 .front, .level_classe3 .back, .level_classi2 .flip-container, .level_classi2 .front, .level_classi2 .back, .level_classb1 .flip-container, .level_classb1 .front, .level_classb1 .back{
		width: 70px;
		height: 100px;
	}
	.level_classi2 .Card{
		flex-basis: 14.66%;
	}
	.level_classe3 .Card{
		flex-basis: 11.66%;
	}
}
